modules = ["nodejs-24", "python-base-3.13", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"
packages = ["freetype", "gumbo", "harfbuzz", "jbig2dec", "libjpeg_turbo", "mupdf", "openjpeg", "swig", "xcbuild"]

[objectStorage]
defaultBucketID = "replit-objstore-8877a0c6-d213-4d0a-8e00-37d43de7f921"

[userenv]

[userenv.development]
CLERK_ADMIN_USER_IDS = "user_3Is4u3hAEGSGZDGrCgw970zAOqb"

[userenv.production]
CLERK_ADMIN_USER_IDS = "user_3Is4u3hAEGSGZDGrCgw970zAOqb"
